</section>
<section id = "footer">
<p> © 2020 RAYNET-UK </p>
<p> A company limited by guarantee, registered in England and Wales company number 2771954.
  Charity registered in England and Wales number 1047725</p>
<p> Icons made by <a href="https://www.flaticon.com/free-icon/signal-tower_3029141" title="catkuro">catkuro</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </p>
</section>
</body>

</html>
