

<%- include('header'); -%>

  <section>

    <div class="container-fluid">
      <h1>About us</h1>
      <div class="row">
       <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere eros vel ultrices gravida. In et lobortis felis, ac interdum eros. Quisque vehicula posuere odio eu lobortis. Nulla quis rutrum diam. Donec eget nisi urna. Proin sed erat in odio placerat viverra. Praesent sagittis vestibulum sagittis. Nam vehicula mi ac mattis rhoncus. Donec sodales a nibh eu aliquet. Ut id hendrerit dolor. In ipsum sapien, imperdiet vel suscipit nec, volutpat non dui. Donec finibus tortor id velit tincidunt, sit amet lacinia mauris volutpat. Donec felis purus, sagittis sit amet dictum a, consectetur nec purus. Pellentesque dignissim erat sit amet quam suscipit convallis. Vestibulum nulla sem, tempor id elit eget, pellentesque tincidunt dolor. Etiam vel mattis leo.
          Pellentesque ut orci porttitor, rutrum diam eu, convallis erat. Cras eu orci justo. Praesent pharetra, neque sit amet hendrerit congue, tellus ipsum rutrum risus, posuere iaculis nisl risus sit amet justo. Curabitur porta, risus eget pellentesque eleifend, lectus mauris elementum ex, sed tincidunt magna lectus sed nisl. Ut vitae orci nec lacus tincidunt vehicula. Phasellus ultrices leo eu ultricies lacinia. Proin porta diam quam. Proin eu mauris eget magna vehicula efficitur. Ut tempus facilisis urna, sed molestie elit viverra quis. Donec ultrices euismod cursus. Pellentesque eget tincidunt tellus.</p>
        </div>
        <div class="col-lg-2">

         </div>
      </div>

<%- include('footer'); -%>
