

<%- include('partials/header'); -%>

  <section>

    <div class="container-fluid">
      <h1>About us</h1>
      <div class="row">
       <div class="col-lg-2">
         <img class = side-img src="images/horse.jpg" alt="horse">

        </div>
        <div class="col-lg-8">
          <h2>Who we are</h2>
          <p>The Milton Keynes Raynet Group is part of the UK's national voluntary communications service provided for the community by Radio Amateurs.
            RAYNET was formed in 1953 following the severe flooding around the east coast of Britain to provide a way of organising the valuable resource
             that Amateur Radio is able to provide to the community. The Milton Keynes Raynet Group was formed in the early 1980s to provide a more local
             service to the rapidly growing area of Milton Keynes. Although we primarily serve the local area, we remain an active member of the Buckinghamshire
             County Raynet organisation with whom we meet regularly.
          Although we are called the Milton Keynes RAYNET Group, we remain part of Buckinghampshire RAYNET and also cover the northern part of Buckinghampshire.
          Bucks Emergency Planning Unit, the District Emergency Planning Units and MK Emergency Planning Unit work closely together in order to be prepared to cope
           with local emergencies.</p>

           <h2> Technologies we use</h2>
           <p>

             </p>

             <h2> How we get involved</h2>
             <p>
               We aim to prepare ourselves to provide radio communications for such incidents to
               Category 1 & 2 Responders under the Civil Contingencies Act and the services that support them. In particular we get
               involved with the Local Authority Chief Emergency Planning Offices who often provide financial support and fund aerial
                installations. We practice for emergencies by providing communications for charitable events such as endurance horse rides, Marathons, Scout hikes,
                cycling events and the like. As well as radios we have our own infrastructure – such as masts, power supplies, batteries, generators, aerials; even a gazebo and a trailer to move it all.
                We provide comunications for these organisations at events such as marathons, scout hikes and during endurance horse and sponsored cycle rides as part of our ongoing training.
               </p>

        </div>
        <div class="col-lg-2">
           <img class = side-img src="images/moo.jpg" alt="moo">
         </div>
      </div>

<%- include('partials/footer'); -%>
