<%- include('partials/header'); -%>

<div class="container">

  <div class="row">
   <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <h2>Emergency Contact</h2>
      <p>
        A twenty four hour national emergency telephone line is provided on: </p>
        <p>
          <b>0303 040 1080 and press #</b>
        </p>
        <p>
        The emergency telephone line is for the use of User Services who are unable to contact the Milton Keynes RAYNET Group directly.
        Details of calls made via the emergency telephone line will be passed on to the Group as quickly as possible.
        </p>
    <div class="col-lg-2">

     </div>
  </div>

</div>
<div class="row">
 <div class="col-lg-2">

  </div>
<div class="col-lg-8">
  <h2>General Contact</h2>
  <p>
    If you are interested in volunteering with us or would like support for your event, please use the contact form to get in touch.
    </p>
  </div>
<div class="col-lg-2">

 </div>
</div>
  <!-- Example row of columns -->
    <div class="row">
     <div class="col-lg-2">

      </div>
      <div class="col-lg-8">
        <h2></h2>
        <form class="form-signin">

            <h1 class="h3 mb-3 font-weight-normal">Contact Us</h1>

              <label for="inputName" class="sr-only">Name</label>
              <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
              <label for="inputMessage" class="sr-only">Password</label>
              <textarea id="inputMessage" class="form-control" placeholder="Your Message" required></textarea>

              <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

            </form>

      </div>
      <div class="col-lg-2">

       </div>
    </div>

    <div class="row">
     <div class="col-lg-2">

      </div>
      <div class="col-lg-8">
        <p>

          Alternatively send us an <a href="mailto:controller@mkraynet.org.uk"> Email</a>
      </p>
      </div>
      <div class="col-lg-2">

       </div>
    </div>



  <hr>
</div>




<%- include('partials/footer'); -%>
