
<%- include('partials/header'); -%>



<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Emergencies</h2>
      <p>We are ready to use our skills and equipment to assist in the response to local emergencies. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Communication</h2>
      <p>Voice radio links can be set up quickly to provide timely information from remote locations. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Events</h2>
      <p> We can assist organisers of local community events, large and small.</p>
      <p><a class="btn btn-secondary" href="events" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>
</div>

<div class="container yellow" >
  <!-- Title -->
  <div class="row">
   <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <h2>Can you help us?</h2>
      <p> We're always looking for new volunteers. If you have an interest in radios, phones, IT,
        the internet and other technologies and want to help your local community, we'd love for you to join us.
        We welcome those from any background and you do not need a radio amateurs licence to get involved (training is available).
        </p>
      <p><a class="btn btn-secondary" href="join_us" role="button">Join us &raquo;</a></p>
    </div>
    <div class="col-lg-2">

     </div>
  </div>


<%- include('partials/footer'); -%>
