
<%- include('header'); -%>


    <div class="container-fluid">
      <!-- Title -->
      <div class="row">
       <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
          <p> The Radio Amateurs Emergency Network (RAYNET) is the UK's national voluntary communications service provided by licensed radio amateurs.
            RAYNET's primary purpose is to provide flexible communications during emergencies.</p>

          <p>In addition, RAYNET is able to assist organisers of local community events. This can include small local events such
          as a fun run or an agricultural show right up to events that cover wide areas and in areas where mobile phone and other
          commercial communications services are poor or non-existent.</p>
        </div>
        <div class="col-lg-2">

         </div>
      </div>

<%- include('footer'); -%>
