<%- include('partials/header'); -%>

<div class="container">
  <!-- Example row of columns -->

    <div class="row">
     <div class="col-lg-2">

      </div>
      <div class="col-lg-8">
        <h2>Volunteering</h2>
        <p> We're a group of people with some technical skills that want to support our communities.
           Whatever your background or experience, you’ll be warmly welcomed. We are dedicated to training members in technologies they are interested in.
           We also welcome people keen to pass on their knowledge and skills. You do not need to hold an amateur radio licence to be a member.
           We would be very happy to help you gain one but it's entierly optional.
          As well as radios of all types, we use various technologies including voice over IP telephones.
          Our ultimate goal is getting information to the right people at the right time.  For that we also need members who are great at organising, managing, communicating,
          fund-raising and other essential functions.
          </p>

      </div>
      <div class="col-lg-2">

       </div>
    </div>

  
  <hr>
</div>




<%- include('partials/footer'); -%>
