body {
  font-family: 'Merriweather';
  /*font-weight: 400;*/
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {

}

p {
  color: black;
}

/*headings*/
.big-heading {
  font-family: 'Montserrat';
  font-size: 4rem;
  line-height: 1.5;
  text-align: center;
  padding-top: 2.5%;
}

.container-fluid {
  padding: 0;
}

.container {
  padding: 1%
}

/*sections*/
#header {

  background-color: #005792;
  color: #fff;
}

/*title section*/


/*Navigation bar*/
.navbar {
  background-color: #00204a;
  padding: 1% 0 1% 0;

}

.nav-item {
  padding: 0 18px;

}

.nav-link {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Basic';
  color: white;
}

.title {
  padding: 1%
}

/*title image*/
.title-img {
  width: 30%;
  border-radius: 50%;
  background-color: #fff;

}

.yellow {
  background-color: #fdb44b;
}

.side-img {
  width: 100%;
}

#footer {
  background-color: #005792;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

}

//#00bbf0
//#fdb44b
